body {
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: Impact;
    background-color:darkslategray;
    color:rgb(88, 88, 50);
}

div.container {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color:darkkhaki;
    align-items: center; 
}

.name {  
    text-align: center;
}
